<%= form_for(@moto) do |f| %>
  <% if @moto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moto.errors.count, "error") %> prohibited this moto from being saved:</h2>

      <ul>
      <% @moto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :marque %><br>
    <%= f.text_field :marque %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
