<h1>Listing motos</h1>

<table>
  <thead>
    <tr>
      <th>Marque</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motos.each do |moto| %>
      <tr>
        <td><%= moto.marque %></td>
        <td><%= moto.description %></td>
        <td><%= link_to 'Show', moto %></td>
        <td><%= link_to 'Edit', edit_moto_path(moto) %></td>
        <td><%= link_to 'Destroy', moto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moto', new_moto_path %>
